.App {
  text-align: center;
  /* ;
  background-size: 100%;
  background-repeat: repeat-x;
  height: 100dvh */
}

.bg {
  background-image: url('./images/treeskevin.jpg');
  height: 100vh;
  background-attachment: scroll;
 
}

.nav-area {
  height: 10dvh;
  padding-bottom: 20px;
}

.content {
  height: 90dvh;

}

.image-pos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-area {
  padding-top: 10dvh;
  width: 80dvw;
  text-align: left;
}

.kevin-button:hover {
  cursor: pointer
}

.info-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.scrollboy {  
  overflow-x: hidden;
  overflow-y: scroll;
  
  text-align: justify;
  
}

.headshot-image {
  width: 30dvw;
  height: auto;
}

@media only screen and (max-width: 576px) {
  .card-sizing {
    width: 75dvw;
  }

  .cat-area {
    height: 75dvh;
    width: 75dvw;
  }

  .cat-size {
    height: 20vh;
  }
}

.title {
  text-align: center;
  padding: 10px;
}

.line-break {
  border: 10px solid black
}

.download-link {
  text-align: center;
  text-decoration: none;
  border: 2px solid #212529;
  padding: 10px;
  color: white;
  background-color: #212529;
  border-radius: 5px;
}

.download-link:hover {
  background-color: lightgrey;
  color: black;
}

.contact-btn {
  color: lightgreen;
}

.cat-area {
  padding-top: 10dvh;
  width: auto;
  height: auto;
  text-align: left;
  padding-bottom: 10dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cat-size {
  height: 75vh;
  width: auto;
}

.extra-space {
  height: 100px;
}