.App {
  text-align: center;
  /* ;
  background-size: 100%;
  background-repeat: repeat-x;
  height: 100dvh */

  
}

.bg {
  background-image: url('./images/kittens.jpg');
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-size: contain;
  height: 100dvh
}

.nav-area {
  height: 10dvh
}

.content {
  height: 90dvh;

}

.image-pos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-area {
  padding-top: 10dvh;
  width: 80dvw;
  text-align: left;
}

.kevin-button:hover {
  cursor: pointer
}

.info-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scrollboy {  
  overflow-x: hidden;
  overflow-y: scroll;
  text-align: justify;
  position: relative
}

.headshot-image {
  width: 30dvw;
  height: auto;
}

@media only screen and (max-width: 576px) {
  .card-sizing {
    width: 50dvw;
  }
}

.title {
  text-align: center;
  padding: 10px;
}

.line-break {
  border: 10px solid black
}

.download-link {
  text-align: center;
  text-decoration: none;
  border: 2px solid #212529;
  padding: 10px;
  color: white;
  background-color: #212529;
  border-radius: 5px;
}

.download-link:hover {
  background-color: lightgrey;
  color: black;
}

.contact-btn {
  color: white;
}
